// $primary: #0d6efd;
// $success: #198754;
// $danger: #ff4d4f;
// $border-radius: 12px;

// Import full bootstrap
@import "bootstrap/scss/bootstrap";


// // Required
// @import "bootstrap/scss/functions";
// @import "bootstrap/scss/variables";
// @import "bootstrap/scss/maps";
// @import "bootstrap/scss/mixins";
// @import "bootstrap/scss/root";

// // Optional components
// @import "bootstrap/scss/reboot";
// @import "bootstrap/scss/grid";
// @import "bootstrap/scss/buttons";
// @import "bootstrap/scss/forms";
// @import "bootstrap/scss/navbar";
